#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 3px solid #808080; /* Borders */
    outline: none; /* Remove outline */
    background-color: rgb(230, 220, 200, 0.90); /* Set a background color */
    color: #808080; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px; /* Some padding */
    border-radius: 6px; /* Rounded corners */
    font-size: 26px; /* Increase font size */
}

#myBtn:hover {
    color: #101010; /* Text color */
    border: 3px solid #101010; /* Borders */
}
