.flexbox {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.flexbox > div {
  background-color: none;
  width: 500px;
  margin: 10px;
  text-align: center;
  line-height: 30px;
}

/*mobile ready*/
@media (max-width: 800px) {
  .flexbox > div {
  width: 200px;
  }
}
