.button {
  background-color: white;
  border: none;
  border-radius: 10px;
  color: #505050;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 130%;
  font-weight: bold;
  font-family: Didot, serif;
  margin: 6px;
  cursor: pointer;
}


.button:hover, .button:focus {
  background-color: rgb(230, 220, 200);
  border: 3px solid #101010;
  border-radius: 3px;
}
