.button {
  background-color: white;
  border: none;
  border-radius: 50%;
  color: #505050;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 3vw;
  font-family: "Palatino", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}


.button:hover, .button:focus {
  background-color: rgb(230, 220, 200);
  border: 3px solid #101010;
  border-radius: 10%;
}

@media (max-width: 600px) {
  .button {
    font-size: 6vw;
  }
}
