//styles for individual post

.blogtitle{
    text-align: center;
}

.blogtitle h1 {
    font-size: 5vw;
    color: #95d5c5;
}

.blogbody {
    margin: 0vh 5vw;
    color: #292f38;
}

.blognav {
    text-align: center;
    padding: 2vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1vh;
    font-size: 5vw;
}

.blognav a:link, .blognav a:visited {
    font-weight: bold;
    color: #95d5c5;
    text-decoration: none;
  }
  
  .blognav a:hover, .blognav a:active {
    color: #292f38;
    text-decoration: underline;
    font-weight: bold;
  }