/*styles for individual post*/

.blogtitle{
    text-align: center;
    font-family: 'Lobster';
    margin: 15vh 0vw;
    color: #95d5c5;
}

.blogtitle h1 {
  font-size: 3em;
}

.blogbody {
    margin: 0vh 5vw;
    color: #292f38;
}

.blogbody a:link, .blogbody a:visited {
  font-weight: none;
  color: #292f38;
  text-decoration: none;

}

.blogbody a:hover, .blogbody a:active {
  color: #292f38;
  text-decoration: underline;
  text-decoration-color: yellow;
  background-color: none;
}

.blognav {
    text-align: center;
    padding: 2vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1vh;
    margin: 10vh 0vw;
}

.blognav a:link, .blognav a:visited {
    font-weight: bold;
    color: #95d5c5;
    text-decoration: none;
  }
  
  .blognav a:hover, .blognav a:active {
    color: #292f38;
    text-decoration: underline;
    font-weight: bold;
  }

  .theframe {
    max-width: 60vw;  
    height: 60vh; 
    margin: auto;
    padding: 10px 20px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  /*mobile ready*/
@media (max-width: 800px) {
    .theframe  {
      max-width: 80vw;
      max-height: 30vh;
      padding: 5px 0px;
    }
  }

code {
  width: 100%;
  height: 100%;
}

/*mobile ready*/
@media (max-width: 800px) {
  code  {
    max-width: 80vw;
    max-height: 30vh;
    padding: 5px 0px;
  }
}

img {
  max-width: 90vw;
  height: auto;
}