@media (min-width: 600px) {
  .home h1 {
    font-size: 60px;
  }

  .home h3 {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  body,html {
    overflow: auto;
  }

  body::after{
        content:"";
        position:fixed; /* stretch a fixed position to the whole screen */
        height:100vh; /* fix for mobile browser address bar appearing disappearing */
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:-1; /* needed to keep in the background */
        background: url("/img/bg0.png") center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }

/*nav*/
  .nav {
    background-color: rgba(237,243,254,0.7);
  }

/*homepage*/
  .home {
    background-image: none;
  }

/*about*/
  .about {
    background-image: none;
    margin-top: 20%;
    height: 100%;
  }

/*projects*/
  .projects {
    background-image: none;
    margin-top: 20%;
    height: 100%;
  }

  .project1header {
    text-align: center;
  }

  .project2header{
    text-align: center;
  }

/*resources*/
  .notes {
    background-image: none;
    margin-top: 20%;
    height: 100%;
  }

  .notes1header {
    text-align: center;
  }

  .notes2header {
    text-align: center;
  }

}
