/*using this for scrolling banners*/
.scrollbanner {
  display: flex;
  width: auto;
  height: auto;
  overflow-x: auto;
  margin: 6%;
}
.scrollbanner::-webkit-scrollbar {
  display: none;
}
.banner {
  background-color: #ecf0f1;
  min-width: 120px;
  margin: 6px;
  padding: 6px;
  color: #34495e
}
