/*using this for scrolling banners*/
.scrollbanner {
  background-color: rgba(255, 244, 212, 0);
  display: flex;
  width: auto;
  height: auto;
  overflow-x: auto;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 6%;
  scrollbar-color: #090000 #FFF4D4;
}

.banner {
  border: 3px solid #090000;
  border-radius: 6px;
  background-color: rgba(255, 244, 212, 0);
  min-width: 160px;
  margin: 6px;
  padding: 6px;
  color: #34495e
}
