body {
    margin: 30px auto;
    width: 90%;
    background: url(/img/daisybackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}

.layer {
    background-color: rgba(229, 229, 204, 0.75);
    background-position: center;
    padding: 30px;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 28px;
    color: #0E1807;
}
a {
    text-decoration: none;
    color: #0E1807;
}
a:hover {
    text-decoration: underline;
}

.header {
    font-size: 62px;
    color: #0E1807;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 52px;
    color: #0E1807;
}

h2 {
    font-size: 38px;
    color: #0E1807;
}

h3 {
    font-size: 30px;
    line-height: 32px;
    color: #0E1807;
}

p {
    font-size: 28px;
    line-height: 30px;
    color: #0E1807;
}

nav {
    border-bottom: 1px solid #0E1807;
    font-size: 30px;
    text-align: center;
}
footer {
    border-top: 1px solid #0E1807;
    font-size: 16px;
    text-align: center;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 26px;
}

ul.posts li {
    list-style: none;
}
