body, html {
  margin: 0;
  font-family: "American Typewriter", "Georgia", "Times New Roman", serif;
  overflow: auto; /*disabled the scrolling function of overflows*/
  color: #090000;
}

hr {
  border: 1px dashed #090000;
  width: 60%;
  margin-top: 6%;
  margin-bottom: 6%;
}

a:link {
  color: #570000;
}

/* visited link */
a:visited {
  color: #570000;
}

/* mouse over link */
a:hover {
  color: #ff5757;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

/* selected link */
a:active {
  color: #ff5757;
}

/*nav bar*/

.nav {
  margin: 0;
  padding: 0;
  background-color: none;
  top: 0;
  position: fixed;
  width: 100vw;
  text-align: center;
}

.nav li {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 1.5vw;
}

/*post title*/
.project {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100vw;
  vertical-align: middle;
  align-items: center;

  background-image: url("/img/bg2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectcontent {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.projectpicture {
  height: 600px;
  width: auto;
  margin: 6%;
}
