body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.parallax {
  /* The image used */
  background-image: url("/img/bg1.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.block {
  background-color: rgb(95, 67, 120);
  height: 100%;
  position: relative;
}

.logo {
  position: fixed;
  display: inline-block;
  top: 0;
  right: 0;
}

.logo-icon {
  height: 100px;
  width: 100px;
}

.title {
  text-align: center;
  align-items: center;
  display: block;
  padding: 10px;
  margin: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.text {
  text-align: center;
  align-items: center;
  width: 70%;
  padding: 2%;
  border: 5px solid gray;

  margin: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/*scrollbar style*/
/* width */
.text > ::-webkit-scrollbar {
  height: 3px;
}

/* Track */
.text > ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px grey;
  border-radius: 20px;
}

/* Handle */
.text > ::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 20px;
}

/* Handle on hover */
.text > ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
