body {
    margin: 60px auto;
    width: 80%;
    background-color: #FBF4F3;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #EED8D3;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 36px;
    color: #341F1B;
}
p {
    font-size: 26px;
    line-height: 10px;
    color: #B15843;
}
footer {
    border-top: 1px solid #D3978A;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 26px;
}

ul.posts li {
    list-style: none;
}
