---
layout: default
title: Curious-Yu
---

<!--homepage-->
<div class="blocktitle" id="home">
  <div class="title flexbox">
      <div class="logo"><img src="/img/WYlogo.png" alt="WY logo" class="logo-icon" title="WY Logo"></div>
      <div>
        <h1 class="typewritter">Wen Yu</h1>
        <p class="typewritter">Developer & Nutritionist</p>
      </div>

  </div>
</div>

<!--Resume-->
<div class="divider-left"></div>
<div class="blockyellow" id="resume">
  <div class="text flexbox">
    <div class="div-img"><img src="/img/bio.png" alt="WY bio" class="div-img-icon" title="Resume">
      <h1>Resume</h1>
      <p>Body paragraph of topic 1</p>
    </div>
  </div>
</div>



<!--Projects-->
<div class="divider-right"></div>
<div class="blockwhite" id="projects">
  <div class="text">
    <h1 title="Projects">Projects</h1>
    <p>projects created</p>
    <div class="scrollbanner">
      {% for project in site.projects %}
        <div class="banner">
          <h5><a href="{{ project.url }}">{{ project.title }}</a></h5>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!--Problems-->
<div class="divider-left"></div>
<div class="blockyellow" id="solved-problems">
  <div class="text">
    <h1>Solved Problems</h1>
    <p>solving practice problems using coding languages</p>
    <div class="scrollbanner">
      {% for problem in site.problems %}
        <div class="banner">
          <h5><a href="{{ problem.url }}">{{ problem.title }}</a></h5>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!--Resources-->
<div class="divider-right"></div>
<div class="blockwhite" id="resources">
  <div class="text">
    <h1>Resources</h1>
    <p>notes taken and useful materials for coding</p>
    <div class="scrollbanner">
      {% for post in site.posts %}
        <div class="banner">
          <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
