/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
      flex: 50%;
      max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      flex: 100%;
      max-width: 100%;
  }
}


/*responsive for 400px */
@media screen and (max-width:450px) {
    h1 {
        font-size: 36px;
        word-break: break-all;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    p {
        font-size: 26px;
    }

@media screen and (max-width:450px) {
  #navigation a {
    display: flex;
    flex-wrap: wrap;
  }
  #navigation {
    text-align: center;
    border-style: none;
    border-color: #FFE2DC;
    margin: auto;
    color: #341109;
    font-weight: bold;
    font-size: 20px;
  }
}
