---
layout: default
title: Resources
---

<div class="pagetitle">
  <h1>Resources</h1>
  <img src="/img/resource2.png" alt="resources" title="resources">
</div>

<div class="pagebody">
    {% for post in site.posts %}
      <div>
        <a href="{{ post.url }}">{{ post.title }}<hr></a>
      </div>
    {% endfor %}
</div>


<div class="pagebody">
{% assign sorted_tags = site.tags | sort: tag.title %}
{% for tag in sorted_tags %}
  <div>
    <h3 id="{{ tag[0] }}">{{ tag[0] }}</h3>
    <p>
      <ul class="post-list">
        {% assign pages_list = tag[1] %}
        {% for post in pages_list %}
          {% if post.title != null %}
          {% if group == null or group == post.group %}
          <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
      </ul>
    </p>
  </div>
{% endfor %}
</div>
