<!DOCTYPE html>
<html>
	<head>
		<title>WY's Code Book</title>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css"> <!-- needed so older versions of IE can run codes -->
		<link rel="stylesheet" type="text/css" href="/css/style.css"> <!-- needed for style -->
		<link rel="stylesheet" type="text/css" href="/css/responsive.css"> <!-- needed for responsive -->
		<link rel="stylesheet" type="text/css" href="/css/syntax.css"> <!-- needed for syntax highlight -->
	</head>

	<body>
		<div class="layer">
			<div class="header"><a href="/">WY's Code Book</a></div>
			<nav>
	    		<ul>
							<li><a href="/note">Notes</a></li>
	        		<li><a href="/project">Projects</a></li>
							<li><a href="/resource">Resources</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li>&copy; <a href="https://wycodebook.github.io/">WY's Code Book</a>. All rights reserved.</li>
			</ul>
			</footer>
		</div>
	</body>
</html>
