---
layout: default
title: post
---

<div class="blogtitle">
  <h1 title="{{page.title}}">{{page.title}}</h1>
</div>

<div class="blogbody">
  {{ content }}
</div>

<h1 class="blognav">

    {% if page.previous.url %}
    <a href="{{ page.previous.url }}"><i class="far fa-arrow-alt-circle-left" title="previous"></i></a>
    {% endif %}


    <a href="/#posts"><i class="fas fa-redo-alt" title="back to all projects"></i></a>


    {% if page.next.url %}
      <a href="{{ page.next.url }}"><i class="far fa-arrow-alt-circle-right" title="next"></i></a>
    {% endif %}

</h1>
