---
layout: default
title: projects
---

<div class="posttitle">
  <h1 align="center">{{page.title}}</h1>
  <img src="/img/posttitle.png" alt="{{page.title}}">
</div>

<div class="projectframe">
  <iframe src={{page.product}}></iframe>
</div>

<div class="postbody">
  {{ content }}
</div>


<div class="postnav">
  <div>
    {% if page.previous.url %}
    <i class="fas fa-long-arrow-alt-left"></i><a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
    {% endif %}
  </div>
  <div>
    <p><a href="/projects" title="Go to Project List">More Projects</a></p>
    <p><a href="/problems" title="Go to Solved Problems">More Solved Problems</a></p>
    <p><a href="/resources" title="Go to Resources">More Resources</a></p>
  </div>
  <div>
    {% if page.next.url %}
      <a href="{{ page.next.url }}">{{ page.next.title }}</a><i class="fas fa-long-arrow-alt-right"></i>
    {% endif %}
  </div>
</div>
