---
layout: default
title: projects
---

<div class="posttitle">
  <h1 align="center">{{page.title}}</h1>
  <img src="/img/posttitle.png" alt="{{page.title}}">
</div>

<div class="projectframe">
  <iframe src={{page.product}}></iframe>
</div>

<div class="postbody">
  {{ content }}
</div>


<div class="postnav">
  <div>
    {% if page.previous.url %}
    <a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
    {% endif %}
  </div>
    <a href="{{ page.collection.url }}">{{ page.collection.title }}</a>
  <div>
    {% if page.next.url %}
      <a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
    {% endif %}
  </div>
</div>
